table {
    border: 1px solid grey;
    color: black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
td {
    padding: 5px 10px;
}
tr {
    border: 1px solid grey;
}
tbody > tr {
    cursor: pointer;
}
.iconSmall {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
.copyIcon {
    fill: black;
}
.copyIcon:hover {
    fill: #228b22;
}
.iconLang {
    height: 64px;
    width: 64px;
    vertical-align: middle;
}
.inline {
    display: inline;
}
.wordBreak {
    word-break: break-word;
}
.iconShowMore {
    float: right;
}
.hoverBlue:hover {
    color: blue;
}
.svgGithubStat {
    width: 400px;
}
@media screen and (min-width: 0px) and (max-width: 512px) {
    .iconLang {
        margin-top: 10px;
    }
    .iconLang {
        height: 48px;
        width: 48px;
        vertical-align: middle;
    }
    .svgGithubStat {
        width: 90%;
    }
}
* {
    --border-color: black;
    --border-color2: rgb(171, 171, 171);
}