---
import SimpleArticle from "@components/SimpleArticle.astro";
---

<SimpleArticle title={""} description={""} keywords={[]}>
    <h1>Apparently, nothing.</h1>
    <p>You're maybe looking for a <a href="https://map.n4n5.dev/">map</a>?</p>
    <p>Or maybe more <a href="https://links.n4n5.dev/">links</a>?</p>
</SimpleArticle>
