---
import SimpleArticle from "@components/SimpleArticle.astro";
import SimpleArticleLine from "@components/SimpleArticleLine.astro";
import TitleLinks from "@components/TitleLinks/TitleLinks.astro";
import { getOthersArticles } from "@components/utils";

const excludeTags = ["job", "school"];
const { articles } = getOthersArticles();
const dataFiltered = articles.filter(
    ({ frontmatter: { tags = [], hidden = false } }) => !tags.some((oneTag) => excludeTags.includes(oneTag) || hidden)
);
const moreArticles = dataFiltered.filter(({ frontmatter: { tags = [] } }) => !tags.includes("archived"));
const archivedArticles = dataFiltered.filter(({ frontmatter: { tags = [] } }) => tags.includes("archived"));
---

<SimpleArticle title={"more"} description={""} keywords={[]}>
    <div class="flexed">
        <h1>more</h1>
        <TitleLinks />
    </div>
    <hr />
    <p>You're maybe looking for a <a href="https://map.n4n5.dev/">map</a>?</p>
    <p>Or maybe more <a href="https://links.n4n5.dev/">links</a>?</p>
    <br />
    <p>Or, you can read some articles</p>
    <ul>
        {moreArticles.map((p) => <SimpleArticleLine post={p} startSlug={"/more"} />)}
    </ul>
    <br />
    <h4>Archived</h4>
    <ul>
        {archivedArticles.map((p) => <SimpleArticleLine post={p} startSlug={"/more"} />)}
    </ul>
</SimpleArticle>

<style>
    h1 {
        border: none;
        margin: 0;
    }
    .flexed {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
</style>
