---
import SimpleArticle from "@components/SimpleArticle.astro";
---

<SimpleArticle title={""} description={""} keywords={[]}>
    <h1>Apparently, nothing.</h1>
    <p>You're maybe looking for a <a href="map">map</a>?</p>
</SimpleArticle>
