/* CSS File
Author: Nans
*/
h1, h2, h3, h4, h5, p{
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
}


.html{
	background-color: white;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	margin: 0;

}
.container{
	font-weight: normal;
	font-style: normal;
	
}



.content{
	color: black;
	text-align: center;
	position: absolute;
	top:0%;
	left: 0%;
	height:80%;
	width:100%;
}


.menuTitle{
	text-align: center;
	position: absolute;
	width: 50%;
	top: 5%;
	left: 25%;
	right: 25%;
}


.footer{
	text-align: center;
	position: absolute;
	top: 95%;
	height:5%;
	width:100%;
	left:0%;
	background-color: Darkgrey;
}


.startButton{
	text-align: center;
	vertical-align: center;
	position: absolute;
	top: 45%;
	left: 40%;
	height: 10%;
	width: 20%;
	background-color: LightSkyBlue;
	border: 2px solid black;
	border-radius: 40px;
	padding: 0px;
	box-sizing: border-box;
}


.start{
	text-align: center;
	vertical-align : center;
	text-decoration: none;	
}

.titleStart{
	position: absolute;
	height:100%;
	width:100%;
	text-align: center;
	padding-top: 7.5%;
	vertical-align : center;
	color: black;
}

.startButton:hover{
	top: 42.5%;
	left: 37.5%;
	height: 15%;
	width: 25%;
	border-radius: 40px;
}

.titleStart:hover{
	font-size: 200%;
	padding-top: 10%;
}

.menu:cliked{
	visibility: none;
	opacity: 0;
	
}

.slogan{
	color: black;
	text-align: center;
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	font-weight: bolder;
	font-style: normal;
}


.lien{
	position: relative;
	top: 25%;
	left: 2%;
	width: 50%;
	background-color: Darkgrey;
}


p{
	font-size: 1.17em;
}
