---
import data from "./languages.json";
import LangIco from "./LangIco.astro";
---

<h2>Languages</h2>
<div class="center">
    {
        data.map((oneLang) => (
            <div class="lang">
                <a href={oneLang.link} target="_blank" data-tooltip={oneLang.name}>
                    <LangIco filename={oneLang.ico} className="iconLang" />
                </a>
            </div>
        ))
    }
</div>

<style>
    h2 {
        font-family: system-ui;
    }
    .lang {
        display: inline-block;
    }
    .lang a {
        display: inline-block;
    }
    .center {
        text-align: center;
    }
    .iconLang {
        height: 64px;
        width: 64px;
        vertical-align: middle;
    }
    @media screen and (min-width: 0px) and (max-width: 512px) {
        .iconLang {
            margin-top: 10px;
        }
        .iconLang {
            height: 48px;
            width: 48px;
            vertical-align: middle;
        }
    }
</style>
