table {
    border: 1px solid grey;
    color: black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
td {
    padding: 5px 10px;
}
tr {
    border: 1px solid grey;
}
tbody > tr {
    cursor: pointer;
}
.iconSmall {
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
.copyIcon {
    fill: black;
}
.copyIcon:hover {
    fill: #228b22;
}
.inline {
    display: inline;
}
.wordBreak {
    word-break: break-word;
}
.iconShowMore {
    float: right;
}
.hoverBlue:hover {
    color: blue;
}
* {
    --border-color: black;
    --border-color2: rgb(171, 171, 171);
}
