---
import Pulls from "./Pulls.astro";
import type { PullRequest } from "./types";
import pullsUntyped from "@data/pull_requests/pulls.json";
import pullsNotGithubUntyped from "@data/pull_requests/not_github.json";

const pulls = pullsUntyped as Array<PullRequest>;
const pullsNotGithub = pullsNotGithubUntyped as Array<PullRequest>;

const allPulls = pulls.concat(pullsNotGithub);

// const allTotal = pulls.length;
const totalMergedCount = allPulls.filter(({ node }) => node.state === "MERGED").length; // note:this is the filtered count
// const repoTotal = Object.values(repos).flat(1).length;
---

<div class="pulls">
    <input type="checkbox" id="colored-five" name="colored-five" class="pr-colored" />
    <input type="checkbox" id="colored-one" name="colored-one" class="pr-colored" />
    <div class="stats">
        <h2><label for="colored-five">PR</label><label for="colored-one">s</label></h2>
        <p>
            Total: {totalMergedCount}
        </p>
    </div>
    <div class="pulls-list">
        <Pulls pulls={pulls} isGithub />
        <br />
        <Pulls pulls={pullsNotGithub} />
    </div>
</div>

<style>
    .pr-colored {
        display: none;
    }
    .pulls {
        text-align: left;
        overflow-wrap: break-word;
    }
    .stats {
        text-align: center;
    }
</style>
