---
import Pulls from "./Pulls.astro";
import type { PullRequest } from "./types";
import pullsUntyped from "@data/pull_requests/pulls.json";
import pullsNotGithubUntyped from "@data/pull_requests/not_github.json";

const pulls = pullsUntyped as Array<PullRequest>;
const pullsNotGithub = pullsNotGithubUntyped as Array<PullRequest>;

const allPulls = pulls.concat(pullsNotGithub);

// const allTotal = pulls.length;
const totalMergedCount = allPulls.filter(({ node }) => node.state === "MERGED").length; // note:this is the filtered count
// const repoTotal = Object.values(repos).flat(1).length;
---

<div class="pulls">
    <div class="stats">
        <h2>PRs</h2>
        <p>
            Total: {totalMergedCount}
        </p>
    </div>
    <Pulls pulls={pulls} isGithub />
    <br />
    <Pulls pulls={pullsNotGithub} />
</div>

<style>
    .pulls {
        text-align: left;
        overflow-wrap: break-word;
    }
    .stats {
        text-align: center;
    }
</style>
