---
import LanguagesList from "../components/LanguagesList/LanguagesList.astro";
import MadeWith from "../components/MadeWith/MadeWith.astro";
import Pseudonyms from "../components/Pseudonyms.astro";
import Base from "../layouts/Base.astro";
---

<Base title="About" keywords={["about"]}>
    <section>
        <div class="center">
            <h1>About <a href="/" class="link">n4n5</a></h1>
        </div>
        <h2>Pseudonyms</h2>
        <Pseudonyms />
        <LanguagesList />
        <h2>Packages</h2>
        <a class="link" href="/packages/">https://n4n5.dev/packages/</a>
        <h2>
            <a href="https://github.com/Its-Just-Nans" target="_blank" class="link">GitHub</a> stats <a
                href="/lab/stats/"
                target="_blank"
                class="link more-stats">(more)</a
            >
        </h2>
        <div class="center" style="margin-top:20px">
            <div class="inline">
                <img
                    class="svgGithubStat"
                    alt="github-readme-stats of Its-Just-Nans"
                    src="https://github-readme-stats.vercel.app/api?username=its-just-nans&hide_border=true&show_icons=true"
                    loading="lazy"
                />
            </div>
            <div class="inline">
                <img
                    class="svgGithubStat"
                    alt="github-readme-stats and top-langs of Its-Just-Nans"
                    src="https://github-readme-stats.vercel.app/api/top-langs/?username=its-just-nans&layout=compact&hide_border=true&show_icons=true"
                    loading="lazy"
                />
            </div>
            <div class="inline">
                <img
                    class="svgGithubStat bigger"
                    alt="github-profile-trophy of Its-Just-Nans"
                    src="https://github-profile-trophy.vercel.app/?username=Its-Just-Nans"
                    loading="lazy"
                />
            </div>
        </div>
        <MadeWith />
    </section>
</Base>

<style>
    .link {
        color: blue;
    }
    .link:hover {
        text-decoration: underline;
    }
    section {
        margin: 0 auto;
        max-width: 50%;
        font-family: system-ui;
    }
    .more-stats {
        font-size: 0.7em;
    }
    .lang-txt {
        color: #943a00;
        font-weight: bolder;
    }
    .lang-logo {
        height: 24px;
        vertical-align: middle;
    }
    .inline {
        display: inline-block;
    }
    .center {
        text-align: center;
    }
    .svgGithubStat {
        width: 400px;
    }
    @media screen and (min-width: 0px) and (max-width: 512px) {
        .svgGithubStat {
            width: 90%;
        }
        section {
            max-width: 80%;
        }
        .inline {
            display: flex;
        }
    }
    .svgGithubStat {
        width: 90vw;
        min-width: 200px;
        max-width: 400px;
    }
    .bigger {
        max-width: 600px;
    }
</style>
