---
import fs from "node:fs";
import data from "../../data/json/history.json";
import Article from "./Article.astro";
const a = await Astro.glob("/data/ico/history/*");
const images = a.map((file) => file.default);
const txts = await Astro.glob("/data/txt/*.md");
const history = data.map((e) => {
    const correctLink = txts.find((link) => link.file.split("/").pop() === e.desc)?.file;
    let str = "";
    const correctIcoLink = images.find(
        (link) => link.split("/").pop().split(".").shift() === e.ico.split("/").pop().split(".").shift()
    );
    if (correctLink) {
        str = fs.readFileSync(correctLink).toString();
    }
    return { ...e, desc: str, ico: correctIcoLink };
});
---

<article id="articles">
    <div class="center">
        <div id="button-change" class="style-4">
            <svg class="svgIco" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M21 11V3h-8l3.29 3.29-10 10L3 13v8h8l-3.29-3.29 10-10z"></path>
            </svg>
        </div>
        <script>
            const svg1 = `<svg class="svgIco" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M21 11V3h-8l3.29 3.29-10 10L3 13v8h8l-3.29-3.29 10-10z"></path>
            </svg>`;
            const svg2 = `<svg class="svgIco" aria-hidden="true" viewBox="0 0 24 24">
                <path d="M22 3.41 16.71 8.7 20 12h-8V4l3.29 3.29L20.59 2 22 3.41zM3.41 22l5.29-5.29L12 20v-8H4l3.29 3.29L2 20.59 3.41 22z">
                </path>
            </svg>`;
            const button = document.getElementById("button-change");
            let isOpen = false;
            button.onclick = () => {
                document.getElementById("articles")?.classList.toggle("historyOpen");
                button.innerHTML = isOpen ? svg1 : svg2;
                isOpen = !isOpen;
            };
        </script>
    </div>
    {history.map((oneData, index) => <Article content={oneData} {index} />)}
</article>

<style>
    #button-change {
        cursor: pointer;
        width: 10%;
        margin: auto;
    }
    #button-change :global(.svgIco) {
        height: 26px;
    }
    .center {
        text-align: center;
        margin-bottom: 10px;
    }
    button {
        font-weight: 600;
        border: solid 2px black;
        outline: 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
        letter-spacing: 0.08rem;
        background-color: white;
        border-radius: 0.35rem;
        position: relative;
        cursor: pointer;
        transition: box-shadow 0.1s;
    }
    button:hover {
        box-shadow: 0px 0px 0px 5px blue;
        border: 1px dashed var(--border-color);
    }
</style>
