---
const links = [
    {
        title: "golb",
        url: "https://golb.n4n5.dev/",
    },
    {
        title: "R&T website",
        url: "https://rt.n4n5.dev/",
    },
    {
        title: "RIO website",
        url: "https://rio.n4n5.dev/",
    },
    {
        title: "Packages",
        url: "https://n4n5.dev/lab/packages",
    },
];
---

<article>
    <div class="part">
        <h2>Hi!</h2>
    </div>

    <div class="part">
        <h2>Quick links</h2>
        <ul>
            {
                links.map((oneLink) => (
                    <li>
                        <a class="onelink" href={oneLink.url} target="_blank" title={oneLink.url}>
                            <p class="links-url" style="color: blue">
                                {oneLink.title}
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="part center">
        <h2>Thanks for watching</h2>
    </div>
</article>

<style>
    .onelink {
        display: block;
    }

    .links-url {
        font-weight: bold;
    }
    h2:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    details summary {
        cursor: pointer;
    }
    details[open] summary {
        display: none;
    }
    h2::before {
        content: " ";
        transform: scaleX(0);
        transform-origin: bottom right;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: var(--globalColor);
        z-index: -1;
        transition: transform 0.3s ease;
    }
    h2 {
        width: max-content;
        position: relative;
    }

    .center {
        text-align: center;
    }
</style>
