---
import data from "../../data/json/languages.json";
const images = await Astro.glob("/data/ico/languages/*").then((files) => {
    return files.map((file) => file.default);
});
const langs = data.map((e) => {
    const correctLink = images.find((link) => link.split("/").pop().split(".").shift() === e.ico.split(".").shift());
    return { ...e, ico: correctLink };
});
---

<article>
    <div class="part">
        <h2 id="who-am-i-">Who am I ?</h2>
        <p>I use two pseudonym: Its-Just-Nans and n4n5</p>
        <p
            class="js"
            style="cursor: pointer;width: fit-content;"
            onclick="
            this.style.color = 'me' == 'me' ? 'green' : 'red'
            "
            data-tooltip="Click to see the truth !"
        >
            this.style.color = 'Its-Just-Nans' == 'n4n5' ? 'green' : 'red';
        </p>
    </div>
    <div class="part">
        <h2>Quick links</h2>
        <a href="https://its-just-nans.github.io/golb/">
            <p class="links-url" style="color: blue">Link to golb</p>
        </a>
        <a href="https://its-just-nans.github.io/rt/">
            <p class="links-url" style="color: blue">Link to R&T website</p>
        </a>
    </div>
    <div class="part">
        <h2>Languages</h2>
        <div class="center">
            {
                langs.map((oneLang, index) => (
                    <div class="lang">
                        <a href={oneLang.link} target="_blank" data-tooltip={oneLang.name}>
                            <img class="iconLang" alt={oneLang.name} src={oneLang.ico} />
                        </a>
                    </div>
                ))
            }
        </div>
        <br />
        <div class="center" style="margin-top:20px">
            <h3>GitHub stats</h3>
            <div class="inline">
                <img
                    class="svgGithubStat"
                    alt="github-readme-stats of Its-Just-Nans"
                    src="https://github-readme-stats.vercel.app/api?username=its-just-nans&hide_border=true&show_icons=true"
                />
            </div>
            <div class="inline">
                <img
                    class="svgGithubStat"
                    alt="github-readme-stats and top-langs of Its-Just-Nans"
                    src="https://github-readme-stats.vercel.app/api/top-langs/?username=its-just-nans&layout=compact&hide_border=true&show_icons=true"
                />
            </div>
            <div class="inline">
                <img
                    class="svgGithubStat bigger"
                    alt="github-profile-trophy of Its-Just-Nans"
                    src="https://github-profile-trophy.vercel.app/?username=Its-Just-Nans"
                />
            </div>
        </div>
    </div>
    <div class="part center">
        <h2>Thanks for watching</h2>
        <div>
            <p class="inline">Made with</p>
            <a href="https://astro.build" target="_blank">
                <p class="inline lang-txt">Astro</p>
                <img class="inline lang-logo" src={langs.find((e) => e.name === "Astro")?.ico} alt="logo-astro" />
            </a>
            <p class="inline">!</p>
        </div>
    </div>
</article>

<style>
    .js {
        font-weight: bold;
    }
    .links-url {
        font-weight: bold;
    }
    h2:hover::before {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    h2::before {
        content: " ";
        transform: scaleX(0);
        transform-origin: bottom right;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        inset: 0 0 0 0;
        background: var(--globalColor);
        z-index: -1;
        transition: transform 0.3s ease;
    }
    h2 {
        width: max-content;
        position: relative;
    }
    .svgGithubStat {
        width: 90vw;
        min-width: 200px;
        max-width: 400px;
    }
    .bigger {
        max-width: 600px;
    }
    .lang-txt {
        color: #943a00;
        font-weight: bolder;
    }
    .inline {
        display: inline-block;
    }
    .lang-logo {
        height: 24px;
        vertical-align: middle;
    }
    .lang {
        display: inline-block;
    }
    .center {
        text-align: center;
    }
</style>
