---
import PullRequests from "./PullRequests.astro";
import Repos from "./Repos.astro";
---

<article>
    <div class="projects">
        <Repos />
        <hr />
        <PullRequests />
    </div>
</article>

<style>
    @media only screen and (min-width: 1000px) {
        :global(article) {
            padding-left: 5vw;
            padding-right: 5vw;
        }
    }
    @media only screen and (min-width: 1920px) {
        :global(article) {
            padding-left: 10vw;
            padding-right: 10vw;
        }
    }
    .projects {
        width: 100%;
        text-align: center;
    }
</style>
