---
import Time from "@components/Time.astro";
import SimpleArticle from "@components/SimpleArticle.astro";

interface Props {
    title: string;
    date: string;
}

const { title, date } = Astro.props;
const realDate = date === "" ? new Date() : new Date(date);
---

<SimpleArticle title={title} description={`article about ${title.toLowerCase()}`} keywords={[]}>
    <div class="under-title">
        <a class="back-link" href="../"> 🔙 </a>
        <span>
            <span><Time date={realDate} /></span>
        </span>
    </div>
    <hr />
    <div class="markdown-body">
        <h1>{title}</h1>
        <slot />
    </div>
</SimpleArticle>

<style>
    .updated {
        cursor: help;
    }
    .updated-date {
        display: none;
    }
    .updated:hover .updated-date {
        display: inline;
    }
    .under-title {
        display: flex;
        justify-content: space-between;
    }
    .back-link {
        color: inherit;
        text-decoration: none;
    }
    .article-body {
        margin: 0 auto;
        max-width: 800px;
        padding: 20px;
    }
</style>
