---
import App from "../components/App.astro";
import Header from "../components/Header.astro";
import Cover from "../imgs/cover.png";
import "../styles/index.css";
import "../styles/style.css";
import "../styles/tooltip.css";
---

<html lang="fr-FR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Its-Just-Nans (aka n4n5) - web pages</title>
        <meta
            name="description"
            content="The page of Its-Just-Nans aka n4n5. Here you can view my projects and get information about me !"
        />
        <link rel="icon" href="/favicon.ico" />
        <meta name="google-site-verification" content="8qVBtr6GGGesE5nlacfO8rAmqBL9giPwr4FIouqVYO4" />
        <meta property="og:image" content={Cover} />
    </head>

    <body>
        <App>
            <slot />
        </App>
    </body>
    <script>
        const getRandomColor = function () {
            var letters = "9ABCDEF";
            var color = "#";
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * letters.length)];
            }
            return color;
        };
        const colorHeader = () => {
            document.getElementsByTagName("body")[0].setAttribute("style", `--globalColor: ${getRandomColor()}`);
        };
        colorHeader();
        setInterval(colorHeader, 5000);
    </script>
</html>
