---
import App from "../components/App.astro";
import Header from "./Header.astro";
import "../styles/index.css";
import "../styles/style.css";
import "../styles/tooltip.css";
const { title } = Astro.props;
const goodTitle = `${title ? `${title} - ` : ""}Its-Just-Nans (aka n4n5) - web pages`;
---

<html lang="fr-FR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <Header title={goodTitle} />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
            integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <App>
            <slot />
        </App>
        <script>
            const getRandomColor = function () {
                const letters = "9ABCDEF";
                let color = "#";
                for (let i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * letters.length)];
                }
                return color;
            };
            const colorHeader = () => {
                document.getElementsByTagName("body")[0].setAttribute("style", `--globalColor: ${getRandomColor()}`);
            };
            colorHeader();
            // setInterval(colorHeader, 5000);
        </script>
    </body>
</html>
