---
import "../styles/index.css";
import "../styles/style.css";
import "../styles/tooltip.css";
import Header from "./Header.astro";

interface Props {
    title: string;
    description?: string;
    lang?: string;
}

const { title, description, lang = "en-EN" } = Astro.props;
---

<html lang={lang}>
    <head>
        <Header title={title} description={description} />
        <slot name="head-slot" />
    </head>

    <body>
        <slot name="body-slot" />
        <slot />
    </body>
</html>
